$expanded-nav-width: 260px;
$narrow-nav-width: 80px;

.side-nav {
  position: absolute;
  background-color: gray;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 100;
  // justify-content: center;
  // align-items: center;
  width: $expanded-nav-width;

  .header {
    cursor: pointer;
    background-color: white;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 10px;
  }
  .nav-header {
    @extend .header;
  }
  .nav-footer {
    @extend .header;
  }
  
  .nav-links {
    // height: 100%;
    overflow-y: scroll;
    flex-grow: 1;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      line-height: 50px;
      position: relative;
      list-style: none;
      .sub-menu li {
        width: fit-content;
        .icon-link i {
          display: none;
        }
      }

      &:hover {
        background-color: #1d1b31;
        .icon-link a {
          color: white;
        }
      }

      .icon-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 10px;
        cursor: pointer;
      }

      .sub-menu {
        padding: 6px 6px 14px 6px;
        background: #1d1b31;
        display: none;
        li:hover a {
          color: white;
        }
      }

      &.show-menu .sub-menu {
        display: block;
      }
    }
  }
}

.side-nav.close {
  width: $narrow-nav-width;

  .nav-links {
    padding-bottom: 50vh;

    &:hover {
      width: $expanded-nav-width;
    }

    li {
      width: calc($narrow-nav-width + 1px);

      .icon-link i {
        display: none;
      }

      .sub-menu {
        position: absolute;
        left: $narrow-nav-width;
        top: 0;
        display: none;
        white-space: nowrap;
        padding: 0 20px 10px 20px;
        border-radius: 0 6px 6px 0;
      }

      &:hover .sub-menu {
        display: block;
      }
    }
  }
}

.main-content {
  position: relative;
  left: $expanded-nav-width;
  width: calc(100% - $expanded-nav-width);
  background-color: purple;
  overflow: scroll;
  height: 100vh;
}

.side-nav.close ~ .main-content {
  left: $narrow-nav-width;
  width: calc(100% - $narrow-nav-width);
}
