<div class="side-nav" [ngClass]="{close: !isNavOpen}">
  <div class="nav-header" (click)="toggleNav()">Menu</div>
  <ul class="nav-links">
    <li *ngFor="let item of items" [ngClass]="{'show-menu': item.isOpen}">
      <div class="icon-link">
        <a routerLink="/">Home {{ item.id }}</a>
        <i class="icon" (click)="toggleMenu(item)">icon</i>
      </div>
      <ul class="sub-menu">
        <li class="nav-item"><a routerLink="/about">About</a></li>
        <li class="nav-item"><a routerLink="/contact">Contact us with us</a></li>
        <li class="nav-item"><a routerLink="/contact">Contact us with us</a></li>
        <li class="nav-item"><a routerLink="/contact">Contact us with us</a></li>
        <li class="nav-item"><a routerLink="/contact">Contact us with us</a></li>
      </ul>
    </li>
  </ul>
  <div class="nav-footer">Profile</div>
</div>
<div class="main-content">
  <router-outlet></router-outlet>
</div>